<h3>Coluna Direita</h3>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/admin/#/">Dashboard</a></li>
  <li role="presentation" class="active"><a href="/admin/#/create">Create Post</a></li>
</ul>

<h3>Create post</h3>
<div class="jumbotron">
    {{ msg }}
    <div class="form-group">
      <label for=""></label>
      <input type="text" class="form-control" id="" placeholder="Titulo">
      <br>
      <textarea name="name" rows="20" cols="25" class="form-control" placeholder="Postagem"></textarea>
      <br>
      <button type="button" name="button" class="btn btn-primary">Publicar</button>
    </div>
</div>
