<h1 class="content-subhead">Arquivo</h1>
<div class="well-lg">

    <p class="text-left"><a href="/#/">&larr; Início</a></p>
</div>
<div class="jumbotron">
    <h3>teste</h3>
</div>
<div class="col-xs-12 col-md-12">
    <div class="text-center">
        <ul class="pagination">
            <li><a href="?p=0" data-original-title="" title="">1</a></li>
            <li><a href="?p=1" data-original-title="" title="">2</a></li>
        </ul>
    </div>
</div>
<footer class="row footer">
    <div class="col-xs-12 col-md-12">
        <p class="text-center">© André Santos – Boa Sorte!</p>
    </div>
</footer>
