<h1 class="content-subhead">Arquivo</h1>
<div class="well-lg">

    <p class="text-left"><a href="/blog/#/">&larr; Início</a></p>
</div>
<div class="well-sm">
    <div data-ng-repeat="post in posts">
        <h3><a href="">{{ post.title }}</a></h3>
    </div>
</div>
<div class="col-xs-12 col-md-12">
    <div class="text-center">
        <ul class="pagination">
            <li><a>Novos</a></li>
            <li><a>Antigos</a></li>
        </ul>
    </div>
</div>
<footer class="row footer">
    <div class="col-xs-12 col-md-12">
        <p class="text-center">© André Santos – Boa Sorte!</p>
    </div>
</footer>
