<h1 class="content-subhead">Sobre André Santos</h1>

<div class="well-lg">
    <p class="text-justify">O objetivo deste blog é de compartilhar minhas experiêcias relacionadas com linux, programação e internet. Entre em contato.</p>
    <div class="embed-responsive embed-responsive-16by9" align="center">
        <iframe src="https://www.youtube.com/embed/b27ElnCR5og">
        </iframe>
    </div>
    <p class="text-left"><a href="/#/">&larr; Início</a></p>
</div>
<footer class="row footer">
    <div class="col-xs-12 col-md-12">
        <p class="text-center">© André Santos – Boa Sorte!</p>
    </div>
</footer>
